img{
    width:100%;
}

h5{
    text-align: center;
}

a{
    text-align: center;
}

body{
    background-color: rgb(20, 20, 20);
}

.card{
    background-color: rgb(15,15,15);
    color:white
}

.theCardPopup{
    background-color: rgb(10,10,10);
    color:white
}

.ourButton{
    background-color: rgb(10,10,10);
    color:white
}

.ourImg{
    width:35%;
    margin: auto;
    display: block;

}
